{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sample Form</title>
  
</head>
<body>

<form name="login-form" action="/save" method="post">
    
        <div >
            <h1>Welcome to this Site</h1>
            <span>Please, fill this form</span>
        </div>
    
        <div class="content">
            <input name="username" type="text"  placeholder="Username" />
            </br>
            <input name="password" type="password"  placeholder="Password" />
        </div>

        <div >
            <input class="button" type="submit" value="Save">
        </div>  
</form>


</body>
</html>
{{end}}